/**
 * Palettes
 * ----------------------------------------------------------------------------
 */
/* Blue accent color */
.palette-dark-blue {
  a,
  #main-navigation .menu-item.current-menu-item,
  #main-navigation a:hover,
  #main-navigation a:focus,
  #docs-toc a:hover,
  #docs-toc a:focus,
  .toc-item.current,
  .toc-item.current-parent,
  #page-nav-inside li.active > a,
  #page-nav-inside a:hover,
  #page-nav-inside a:focus,
  .post-feed .read-more-link,
  .block-item-cta a,
  #colophon a:hover,
  #colophon a:focus {
    color: _palette(accent-blue);
  }

  blockquote {
    border-color: _palette(accent-blue);
  }

  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  a.button {
    border-color: _palette(accent-blue);
    color: _palette(accent-blue);

    &:hover,
    &:focus,
    &:active {
      background-color: _palette(accent-blue);
      color: #fff;
    }
  }

  .button {
    &.secondary {
      border-color: #fff;
      color: #fff;

      &:hover,
      &:focus,
      &:active {
        background-color: #fff;
        color: _palette(accent-blue);
      }
    }
  }

  .bg-gradient {
    background: _palette(accent-blue);
    background: -webkit-linear-gradient(left,_palette(accent-blue-alt), _palette(accent-blue));
    background: linear-gradient(to right, _palette(accent-blue-alt), _palette(accent-blue));
  }

  .line-left:before {
    background: _palette(accent-blue);
  }
}

/* Green accent color */
.palette-green {
  a,
  #main-navigation .menu-item.current-menu-item,
  #main-navigation a:hover,
  #main-navigation a:focus,
  #docs-toc a:hover,
  #docs-toc a:focus,
  .toc-item.current,
  .toc-item.current-parent,
  #page-nav-inside li.active > a,
  #page-nav-inside a:hover,
  #page-nav-inside a:focus,
  .post-feed .read-more-link,
  .block-item-cta a,
  #colophon a:hover,
  #colophon a:focus {
    color: _palette(accent-green);
  }

  blockquote {
    border-color: _palette(accent-green);
  }

  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  a.button {
    border-color: _palette(accent-green);
    color: _palette(accent-green);

    &:hover,
    &:focus,
    &:active {
      background-color: _palette(accent-green);
      color: #fff;
    }
  }

  .button {
    &.secondary {
      border-color: #fff;
      color: #fff;

      &:hover,
      &:focus,
      &:active {
        background-color: #fff;
        color: _palette(accent-green);
      }
    }
  }

  .bg-gradient {
    background: _palette(accent-green);
    background: -webkit-linear-gradient(left,_palette(accent-green-alt), _palette(accent-green));
    background: linear-gradient(to right, _palette(accent-green-alt), _palette(accent-green));
  }

  .line-left:before {
    background: _palette(accent-green);
  }
}

/* Violet palette color */
.palette-violet {
  a,
  #main-navigation .menu-item.current-menu-item,
  #main-navigation a:hover,
  #main-navigation a:focus,
  #docs-toc a:hover,
  #docs-toc a:focus,
  .toc-item.current,
  .toc-item.current-parent,
  #page-nav-inside li.active > a,
  #page-nav-inside a:hover,
  #page-nav-inside a:focus,
  .post-feed .read-more-link,
  .block-item-cta a,
  #colophon a:hover,
  #colophon a:focus {
    color: _palette(accent-violet);
  }

  blockquote {
    border-color: _palette(accent-violet);
  }

  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  a.button {
    border-color: _palette(accent-violet);
    color: _palette(accent-violet);

    &:hover,
    &:focus,
    &:active {
      background-color: _palette(accent-violet);
      color: #fff;
    }
  }

  .button {
    &.secondary {
      border-color: #fff;
      color: #fff;

      &:hover,
      &:focus,
      &:active {
        background-color: #fff;
        color: _palette(accent-violet);
      }
    }
  }

  .bg-gradient {
    background: _palette(accent-violet);
    background: -webkit-linear-gradient(left,_palette(accent-violet-alt), _palette(accent-violet));
    background: linear-gradient(to right, _palette(accent-violet-alt), _palette(accent-violet));
  }

  .line-left:before {
    background: _palette(accent-violet);
  }
}